<html>
  <head>
    <title>RackTTT</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <form> 
      Size:<br>
      <input type='number' name='board_size'><br>
      Mode:<br>
      <input type='number' name='mode'><br>
      <input type='submit' value='Update'>
      <a href='/move'>Play</a>
    </form>
  </body>
</html>
